WPF/SampleData/dataSampleDataSource/dataSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.dataSampleDataSource" targetNamespace="Expression.Blend.SampleData.dataSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="tns:root" />
  <xs:complexType name="root">
    <xs:sequence>
      <xs:element name="buildversionCollection" type="tns:buildversionCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildversionCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="buildversion" type="tns:buildversion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildversion">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="build" type="xs:string" />
    <xs:attribute name="public1" type="xs:string" />
  </xs:complexType>
</xs:schema>